conda==4.10.3
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
gTTS==2.2.4
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
opencv-python==4.5.5.64
pandas @ file:///C:/ci/pandas_1635506685681/work
Pillow==8.4.0
pytesseract==0.3.9
pyttsx3==2.90
virtualenv==20.14.1
watchdog @ file:///C:/ci/watchdog_1624955113064/work
whitenoise==6.0.0